*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }
  
  body {
    min-height: 100vh;
    background: url('whbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.9em;
    background-repeat: no-repeat;
    
   }
  
  main.table {
    
    width:82vw;
    height: 90vh;
    background-color: #fff5;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    
  }
  
  .table_header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    padding-bottom: 100px;
  }
  
  
  .table_body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    justify-content: center;
  
  }

  
  td img{
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
  
  }
  
  table, th, td{
    font-size: 1.3em;
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
  }
  
  thead th{
    position:sticky;
    top: 0;
    left: 0;
    background-color: #db4628;
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #ff8c00; 
  }
  
  
  tbody tr {
    background-color: rgba(255, 255, 255, 0.4);
    
  }
  
  h1{
    font-family: Algerian, serif;
    font-size: 4.1em;
    font-weight: bold; 
    text-align: center;
    color: #ff2a00; 
  }
  h5{
    font-family: Algerian, serif;
    font-size: 2.1em;
    font-weight: bold; 
    text-align: center;
    color: #ff2a00; 
  }